[2020-02-04 17:09] davwheat commented on #348
Can you double check to see if you're on the latest beta version?

On Tue, 4 Feb 2020, 16:59 Zdravko Shishmanov, <notifications@github.com>
wrote:

[2020-02-04 17:52] zdrsoft commented on #348
I am able to reproduce it on v0.5.19.
The latest version is not tested.

[2020-02-04 17:52] #348 closed

[2020-02-04 17:54] davwheat commented on #348
That is an insanely old version which we aren't going to give support for anymore.

[2020-02-04 22:06] AlmondoG commented on #287
I don't suppose anyone was able to fix this bug were they?

[2020-02-04 22:43] davwheat commented on #287
Unfortunately I don't use Apple devices so I can't test this and try to
find the issue.

On Tue, 4 Feb 2020, 22:06 AlmondoG, <notifications@github.com> wrote:

[2020-02-06 17:14] AlmondoG commented on #287
@davwheat don't know how invested in this you are but Browserstack might be an alternative to not having any Apple devices

[2020-02-06 17:17] davwheat commented on #287
Actually that's a great point - I do have a pro browserstack subscription
with the GitHub student pack.

I'll try to look into it.

On Thu, 6 Feb 2020, 17:14 AlmondoG, <notifications@github.com> wrote:

[2020-02-06 18:09] AlmondoG commented on #287
@davwheat any and all help greatly appreciated. I have some work done using React Images and it works great aside from this issue. If you are able to discover some sort of solution at all please don't hesitate to say so

[2020-02-06 18:21] tylermassey commented on #287
I ran into this recently, and I think I discovered part of the problem.

When the modal is loaded, each image is placed inside a `View` and these views have a width determined by the number of photos. For example, if there were 5 photos, each `View` would have a width of `20%`.

These `Views` are inside of a `Track`. The track container _should_ have a width set to `100% * numberOfPhotos` (e.g. 50

[2020-02-14 03:20] #346 closed

[2020-02-17 13:32] TomPradat opened #350 "closeOnBackdropClick doesn't work with custom View"
Hi, first of all thanks for this great lib :hugs:

So it's not explained in the docs that the `closeOnBackdropClick` needs the viewer's container and viewer's image to have some classes.

Without this knowledge, when using a custom `View` component, the `closeOnBackdropClick` doesn't work.

It would be great to explain this on the docs and provide those classes in the `innerProps` or so

[2020-02-21 17:10] tywmick opened #351 "closeOnBackdropClick works on backdrop to the left and right of image, but not above and below image"
Not sure if #313 would fix this—I'm not able to look closely at it right now.

**Steps to reproduce the behavior:**

Tested on Chrome with npm versions `1.1.0-beta.3`, `1.1.0-beta.2`, and `1.0.0`. Also tested `1.1.0-beta.3` on Firefox and Safari. Here's my JSX:

[code]

My state and toggle function:

[code]

**Expected behavior:**

Clicks on the backdrop on all sides of the image ought to close th

[2020-02-25 08:29] lsnryszardb commented on #351
This worked for me as a temporary fix:
[code]

[2020-02-26 23:38] noetix opened #352 "Allow fullscreen but disable hotkeys"
I've built a custom view that includes a form, however when typing `f` in the input box fullscreen mode enables.

Would it be possible to either:

- allow configuration to disable hotkeys but still allow fullscreen mode via the button; or
- ideally, check the event target node type to ignore form inputs

Happy to work on a PR but would like a direction before starting.

[2020-02-28 19:57] onadeem1 commented on #295
also having this issue, it doesn't wrap seems to go back to the image after a delay

[2020-02-28 21:45] onadeem1 opened #353 "navigation (component) clarity"
Could you guys list some examples for the components. Is it possible to pull in the component as is and then edit what you would like. For example if I wanted the `NavigationNext` component and I wanted to change what the function does. Lets say something like jump by two slides, how do you alter the functionality.

<NavigationNext />
Button allowing the user to navigate to the next view. Accepts

[2020-02-28 21:53] onadeem1 commented on #353
I am not exactly sure what the code what be and am consued by the "accepts onClick function" where should that go? Basically want to achieve something like this.

[code]

[2020-02-28 23:17] onadeem1 commented on #311
is srcSet no longer supported?

[2020-02-29 00:26] onadeem1 commented on #353
Sorry I think to be clearer I am asking since the carousel state is being maintained internally by redux (correct me if that is wrong) how do we modify what clicking the previous or next button does?

[2020-02-29 09:30] onadeem1 commented on #350
Hi Tom do you mind saying what classes are needed? Thanks

[2020-02-29 14:20] TomPradat commented on #350
I believe you have to add the following class on your View's root element : `react-images__view`

[2020-03-02 16:12] tywmick commented on #351
That did it—thanks, @lsnryszardb!

[2020-03-02 17:18] dannyvaughton commented on #353
I pass a function which returns my component. This way I can add my function (`changeIndex`) to change the currentIndex state:

[code]

`changeIndex` simply modifies the `galleryIndex` state. You can then run this function in your CustomNaviagtion component to control the Carousel index.

[2020-03-06 21:18] chaddjohnson commented on #350
This does not work.

[2020-03-06 22:11] chaddjohnson commented on #295
I am also experiencing this issues.

[2020-03-07 13:19] djalmajr opened #354 "How to change the text of the FooterCount (i18n)?"
**Steps to reproduce the behavior:**

My snippet of code is this:

![image](https://user-images.githubusercontent.com/1858147/76144175-974ec100-605c-11ea-8237-64d76a5a1911.png)

**Actual behavior:**

I would like to change only this part of the text

![image](https://user-images.githubusercontent.com/1858147/76144153-5a82ca00-605c-11ea-919c-56be37494359.png)

**Expected behavior:**

To this:

![im

[2020-03-09 17:23] martinjuhasz commented on #354
I had the same requirement. There is no way to just translate the `of` part of the footer.
You need to add a custom Component and replace it with the default `FooterCount` one.

What i did:

[code]
[code]

[2020-03-10 05:45] anhtran opened #355 "Any plan for migrating to emotion or styled-system replace for glam"
I think this is good for the project to move forward.

[2020-03-10 08:31] anhtran commented on #354
I agree with @martinjuhasz, you should re-write the component to get that.

[2020-03-10 13:23] djalmajr commented on #354
So, where this is used:

![image](https://user-images.githubusercontent.com/1858147/76316092-bb0e4300-62b8-11ea-95d8-891e84869797.png)

I thought it would be used for this kind of problem. Re-writting the code breaks the DRY for a simple thing. :/

Anyway, thanks for response :)

[2020-03-10 15:00] martinjuhasz commented on #354
These props are not used for the `FooterCount` component. The `FooterCount` component does not use the `formatters` feature [as you can see here](https://github.com/jossmac/react-images/blob/master/src/components/Footer.js#L116), although adding support for it would be fairly easy.

The `formatters` you highlighted above are used for alt-texts on the buttons for next and previous images. When you

[2020-03-15 11:48] ngbrown commented on #300
Doing something like this helps the animations keep going:

[code]

[2020-03-17 14:04] Bastian opened #356 "Add option to translate footer ({activeView} of {totalViews})"
**Steps to reproduce the behavior:**
/

**Expected behavior:**
It would be nice to be able to change the footer text (currently hardcoded: `{activeView} of {totalViews}`) without replacing the whole `Footer` component.
https://github.com/jossmac/react-images/blob/89ba2786959e62fc91a639e09da4498bd79dd7c3/src/components/Footer.js#L112-L117

**Actual behavior:**
The only option to change the text (as

[2020-03-20 04:53] eyea commented on #353
I have the same question :(
waiting for the correct answer online.

[2020-03-20 05:23] eyea commented on #353
2 points.
The first is that you can't change the value of the currentIndex directly. (as far as I can see)
And the solution I want to share to you：

[code]

[2020-03-21 00:45] davwheat commented on #339
New updates are being released now!

[2020-03-21 00:45] #339 closed

[2020-03-24 16:02] eugine opened #358 "Was version 1.1.0 released?"
https://www.npmjs.com/package/react-images
Version 1.1.0

https://github.com/jossmac/react-images/releases
Latest version: 1.0.0

Did somebody accidentally release v1.1.0?

[2020-03-24 16:15] davwheat commented on #358
Wasn't accidental -- I just forgot to do a GitHub release, too!

[2020-03-24 16:15] #358 closed

[2020-04-10 06:53] cynosureabu commented on #341
Is this bug fixed?

[2020-04-13 18:47] dirkpennings commented on #295
[That dependency](https://github.com/souporserious/react-view-pager) is archived now.
I contacted the author because I stumbled upon the same issue.
He told me that he was no longer maintaining it and he therefore archived the repo. He also said you could move to something like [Framer Motion](https://www.framer.com/motion/).
Best, Dirk

[2020-04-13 19:14] davwheat commented on #295
@dirkpennings

Uh oh... In that case we should probably move to Framer Motion (or similar) then!

[2020-04-14 20:01] ronenmagid commented on #319
I'm seeing that too, only on  mobile.

[2020-04-16 11:27] florianuphoff opened #360 "height in the viewPageStyles aligns content at the top of the page"
**Steps to reproduce the behavior:**
1. Install or update `react-images` to the newest release `1.1.2`
2. Create a simple example as shown here: https://codesandbox.io/s/charming-vaughan-wxx7p
3. Click on the image to open the modal

**Expected behavior:**
The content of the lightbox is centered vertically and horizontally per default behavior.

Here is an example with the version 1.1.0
-> https:/

[2020-04-16 11:30] davwheat commented on #360
I set that in an attempt to fix some issues surrounding the navigation buttons, but I think it all works without that `100vh`.

[2020-04-16 12:01] florianuphoff commented on #360
Okay thanks for that fast reply. So i'm going to create a pr to remove the `100vh`.
Is it okay to bump the version up to 1.1.3 in that pr? I guess you're using semantic versioning

[2020-04-16 12:22] davwheat commented on #360
Yep, that's perfect!

[2020-04-21 06:28] #360 closed

[2020-04-22 06:16] xlzy520 opened #362 "I like this gh-pages，May i see their source code？thank you"
http://jossmac.github.io/react-images/#/

[2020-04-22 09:01] linh626688 commented on #343
very nice solution @ashandrenko

[2020-04-22 09:34] davwheat commented on #362
It's all in the docs folder.

[2020-04-22 16:58] jackson-dikey commented on #342
If this functionality is implemented, it will be very cool!

[2020-04-23 01:57] zation opened #364 "Why not add positioner to backdropClassNames?"
**Steps to reproduce the behavior:**
Click the area above the image and below the header

**Expected behavior:**
Close the modal

**Actual behavior:**
Doesn't close the modal

I tried to add positioner class to backdropClassNames, and this area becomes closable. Is there any problem to do so?

[2020-04-23 23:41] #362 closed

[2020-04-24 02:30] xlzy520 commented on #362
thankyou much

[2020-04-24 19:15] ndimatteo opened #365 "onClose, Carousel index jumps back to "currentIndex" defined in prop"
**Steps to reproduce the behavior:**
I'm explicitly defining the `currentIndex` based on state so that when an image is clicked it opens at that index. However, if you navigate to other images from the Modal and then close the Modal it "jumps" the index back to the one set from the state when initially opened, causing a brief image swap while the Modal fades out.

**Expected behavior:**
The index

[2020-04-25 17:21] nfrasser opened #366 "Carousels outside of full-screen modals broken in v1.1.3"
**Steps to reproduce the behavior:**
1. Create a `<Carousel />` component outside of a Modal with some images

**Expected behavior:**
The Carousel is no wider than its container

**Actual behavior:**
The Carousel is much wider and overflows from its container

For example, here's what the docs page at http://jossmac.github.io/react-images/#/styles should look like
![image](https://user-images.gith

[2020-04-25 17:24] nfrasser commented on #366
Looks like this issue was introduced in commit c6027190c1d19347284c27fd089b9b0c9d914598

Specifically, `width: 100vh,` should be removed from `viewPagerStyles` to fix the issue:
https://github.com/jossmac/react-images/blob/6855af0d4f5b5303d5e643316537d70a8124ed0e/src/components/Carousel.js#L9-L13

[2020-04-26 22:24] alec-francis commented on #351
I'm running version 1.1.3 and the opposite is happening for me.

Clicking above and below the image will dismiss the modal while clicking to the left or right of the image does nothing.

[2020-04-26 23:42] davwheat commented on #351
I fixed this in the latest version, I believe.

[2020-04-27 00:58] zackdotcomputer opened #367 "ViewType caption typing is incorrect"
Because of how Captions are rendered by default, the typing of `caption` as `ReactNode` is incorrect. This includes object types like arrays and `React.Component` types. If you try passing one of these as the caption, however, it renders as `[Object object]` rather than rendering properly.

What it should be instead is `string | number | boolean | null | undefined` - the primitive types that react

[2020-04-27 01:03] davwheat commented on #367
We do also support HTML elements as of 1.1.3 (if I set that up correctly). I'm not very familiar with typing, to be honest, but if there's a way to state that, that would be fab.

[2020-04-27 01:03] zackdotcomputer opened #369 "Alt tag is wrong when using html captions"
**Steps to reproduce the behavior:**
Use the feature supporting html string captions

**Expected behavior:**
The alt tag should either be the string-only contents of the html caption or should be settable via an additional props value.

**Actual behavior:**
The alt tag is the raw HTML markup and there is no way to fix or override.

[2020-04-27 01:06] zackdotcomputer commented on #369
Ooooh I'm trying to fix this - is the way to do this to override the Formatters? I might still open a PR to add this as a supported prop.

[2020-04-27 01:48] zackdotcomputer commented on #367
Hey @davwheat - thanks for the reply.

Your work does support HTML strings correctly, but the bug here is that the `ReactNode` type also includes a bunch of **object** types like React Component subclasses that aren't supported. The issue stems from the line in Footer.js where you're rendering the caption:
```{ParseHtml(`<span>${caption}</span>`)}```

Because the argument to ParseHtml is using the

[2020-04-27 01:54] davwheat commented on #367
It shouldn't have any issues changing it to that. This isn't my project and, to be honest, I don't even understand how this codebase is laid out! 😅

Previously, that line was just `{caption}`, do making it what you suggested in your last comment would be fine.

The change to using `parseHtml` was made in the last version and I realised that was what broke the original support for passing React dir

[2020-04-27 02:56] zackdotcomputer commented on #367
Oh zero worries!

I agree it sounds like I can safely make this the smarter if/else render. Will update the PR with that.

[2020-04-27 06:55] florianuphoff commented on #367
Hey, we ran into another problem with `ParseHTML`.

The package is declared globally which uses the document unsafetly. Using the current version of `react-iamges` affects SSR usage. Any package which includes `react-images` cannot be used in a SSR app.

There will be another PR to fix this issue soon. We are working on it.
Long story short: you can render HTML without using the `parseHTML` packag

[2020-04-27 10:05] emipc opened #371 "componentWillMount warning when running tests"
**Steps to reproduce the behavior:**
Run test file with jest while importing `import Carousel, { Modal, ModalGateway } from 'react-images';`.

**Expected behavior:**
No warning should appear.

**Actual behavior:**
A warning appears:
![Screenshot 2020-04-27 at 11 34 51](https://user-images.githubusercontent.com/26004903/80359712-84978200-887e-11ea-9afa-9b4818ac576c.png)

[2020-04-27 14:03] zackdotcomputer commented on #367
@florianuphoff Interesting - I'm using it for a SSR here and I'm not seeing any issue with it? Can you open a new issue with the problem you're seeing (and so we can track this separately from this issue which I think we're about to close)?

[2020-04-28 12:34] florianuphoff commented on #367
@zackdotcomputer Sure - my coworker is going to create one.
I guess we have a special case because we use `react-images` in a bundled package which we include in a SSR app. Maybe it's a problem with webpack or something else. Further information will follow 👍

[2020-04-30 18:50] ndimatteo commented on #365
Any chance you have some input on this @jossmac ? Would love to know what is going wrong here!

[2020-05-01 12:17] durdevic commented on #351
@davwheat I updated to 1.1.3 and the issue still sort of exists.

What I see here is that dismiss only happens when you click on the _red_ areas(**react-images__header**, **react-images__footer** and **react-images__pager**) but not on the _green_ area (**react-images__positioner**).

Maybe you have another approach how to do it, but I believe this causes the issue right now.

Screenshot:
![Screen

[2020-05-02 00:23] davwheat commented on #351
This should be a fairly easy fix... (that's what they all say...!)

[2020-05-02 02:41] davwheat commented on #351
@durdevic Can you check if this is still present in 1.1.4?

[2020-05-02 09:18] durdevic commented on #351
@davwheat Haha, sorry to break it to you mate for the "easy to fix" comment, but after the update it broke and I got this:

[code]

[2020-05-02 09:19] davwheat commented on #351
Fantastic.

[2020-05-02 09:27] durdevic commented on #351
Okay, so following the "Can you check if this is still present in 1.1.4?" comment I updated to 1.1.4, and it was breaking, but now I saw that the **latest version is 1.1.6**. There it works perfectly! 😁

Awesome job mate! Super quick fixing 💪

[2020-05-02 09:32] davwheat commented on #351
Wow! It worked? That was surprising. I'm about to push out 1.1.7 😂

I just found another issue which doesn't affect the use of the library's modals, but does affect you if you only use the carousel component.

[2020-05-02 09:40] durdevic commented on #351
I updated to 1.1.7, everything still works! I am ok if you close this issue 😁

P.S. Do you accept feature requests, and if yes, how can I let you know?

[2020-05-02 10:18] davwheat commented on #351
Nice! Just create an issue and I'll see what I can do.

I don't usually get round to updating this package much, but these were pretty critical bugs, and lockdown is lockdown, after all.

[2020-05-02 10:18] #351 closed

[2020-05-02 11:29] durdevic opened #372 "[Feature request] onEndReached function"
A function similar to https://reactnative.dev/docs/flatlist#onendreached. It could be really helpful for lazy loading the images.

A good example are messengers. I first load the 20 messages with an image, but I have 50 in total. When I open the chat, and I open the first image thorough the carousel, there is no easy way for me to load the next 30 if I hit the end of the carousel.

I think it shou

[2020-05-02 11:30] durdevic commented on #351
Haha, totally get you 👌  Hope you're managing this crazy scenario well.

[2020-05-04 15:44] durdevic opened #373 "Images no longer have a maximum height"
**Steps to reproduce the behavior:**
Just put this image in the frame, you should see the problem.

Original image:
https://scontent-frx5-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/95398599_1114769665571470_2586615852323220060_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_cat=1&_nc_ohc=lmuRFZql9XIAX8AQKk9&oh=3150beae8cd48b453dd8fce0ba57d7ad&oe=5ED2E9D9

My example:
(you can see where the

[2020-05-04 15:46] durdevic commented on #373
@davwheat Sry bro, but this "should be" not a complicated fix.

Thanks!

[2020-05-08 00:11] vgmcglaughlin commented on #352
I ran into this as well. As a workaround, I added an `event.preventDefault()` in my input change handler, which prevented the `F` from triggering fullscreen mode.

[2020-05-09 01:58] pyramation opened #374 "react-view-pager is unmaintained"
https://github.com/souporserious/react-view-pager is no longer maintained.

Suggested library is https://github.com/framer/motion

https://github.com/steveruizok made a nice demo with paging here: https://codesandbox.io/s/motion-page-ts-brz9n

[2020-05-09 02:35] davwheat commented on #374
I remember someone mentioning this, either in another issue or somewhere else.

I haven't got much experience with framer-motion, but have gotten a chance to try it out in personal projects, so may be able to give this a go. It would very likely be a breaking change and become 2.0.0.

[2020-05-10 02:05] holic commented on #332
I just upgraded from 0.5.x to 1.1.x and also noticed the thumbnail gallery was missing from the carousel.

This is what it used to look like:
![image](https://user-images.githubusercontent.com/508855/81489183-b538cd80-9227-11ea-9645-759d568b544c.png)

This is what it looks like now:
![image](https://user-images.githubusercontent.com/508855/81489231-f7620f00-9227-11ea-839e-6179d1f82687.png)

[2020-05-17 20:21] tonsquemike commented on #299
Hi, how do you resolve the problem?

[2020-05-19 05:53] djih commented on #320
@sickerin try changing to `frameProps={{ autoSize: "auto" }}`

[2020-05-19 13:02] tiagocorreiaalmeida opened #376 "Custom view, on swipe shows current view as previous and next view"
**Steps to reproduce the behavior:**

Here's the sandbox to test the behaviour and the actual code:
https://s9wz2.csb.app/
https://codesandbox.io/s/react-images-custom-view-s9wz2?file=/src/App.tsx

**Expected behavior:**
I expected that the swipe animation would keep as the standard one, this means if I swipe left I would see the previous view and if I swipe forward I would see the next view

**Ac

[2020-05-19 14:21] #320 closed

[2020-05-19 23:40] ndimatteo commented on #365
bump...

[2020-05-20 12:31] allyraza opened #377 "RTL support"
Thank for this wonderful library is possible to add support for languages that read from right to left.

**Steps to reproduce the behavior:**
1. add direction in html tag `<html direction="rtl">`

**Expected behavior:**
Slides should move in right to left direction

**Actual behavior:**
Slides should move in left to right direction

[2020-05-20 15:29] aperkaz commented on #366
@nfrasser any news if this will be fixed?

[2020-05-20 15:37] nfrasser commented on #366
@aperkaz I'm not sure, maybe @davwheat knows?

[2020-05-20 15:38] davwheat commented on #366
Well I removed the section that someone said was causing the issue.

[2020-05-20 15:57] aperkaz commented on #373
@durdevic if you need that feature as I did, I found out that `react-image-lightbox` works pretty well. Preload images too, and is 50K instead of 155K size.
https://github.com/frontend-collective/react-image-lightbox

[2020-05-23 06:37] svetliomihailov opened #378 "Issue with SSR when using Rails & React"
Hello, thank you very much for creating & maintaining this library!
It's awesome and I use it in all of my projects at work :)

I'm having an issue with Server side rendering with the latest versions.
The problem first shows up in version `1.1.3`. In version `1.1.2` the issue is not present.

**Steps to reproduce the behavior:**

Here is a repo with an example [Rails project](https://github.com/jo

[2020-05-25 17:47] aperkaz commented on #373
After tryin to fix this issue for a couple of ours, I gave up and swapped `react-images` with [`simple-react-lightbox`](https://github.com/michelecocuccio/simple-react-lightbox). It has a clean API ahd is higly customizable.

[2020-05-26 18:54] Kiryous opened #379 "Patterns page on docs crashing with error"
**Steps to reproduce the behavior:**
Go to http://jossmac.github.io/react-images/, click on the "Patterns" link in the side menu.

**Expected behavior:**
Patterns page opens

**Actual behavior:**
Blank screen, react crushes with the following stack trace.
[code]
Screenshot — https://take.ms/aWhG2

This error already fixed by commit https://github.com/jossmac/react-images/commit/7c89b80924b1d9a09b8

[2020-05-27 00:06] lablancas commented on #310
@alec-francis I attempted your one-liner fix, but it does not work. Did you find a workaround?

[2020-06-02 16:47] jpkelly opened #380 "Support for multiple modals/galleries on a page"
When adding 2 or more modals/carousels on a page there is a conflict. Can the instances (states?) have a property where they can be assigned a unique identifier?

Expected: When clicking a thumbnail for one of two or more galleries the image the image appearing in the lightbox should be the same as the image in thumbnail.

Actual: The image which appears is from the last gallery on the page regard

[2020-06-02 16:49] jpkelly commented on #380
I am very new to React. I would attempt to implement this but not sure where to start.

[2020-06-03 16:11] BrendanHart commented on #373
For my use case, using `maxHeight: "100vh"` on the `Img` tag inside `src/components/View.js` seems to fix this. If this is desirable, I could submit a pull request.

[2020-06-03 18:12] BrendanHart commented on #373
For those looking for an immediate fix without changes to the library, the following CSS seems to apply the same effect:
[code]

[2020-06-03 21:21] BrendanHart opened #381 "showNavigationOnTouchDevice is not part of the type for CarouselProps"
**Steps to reproduce the behavior:**
Attempt to set the value for `showNavigationOnTouchDevice` in a TypeScript file.

**Expected behavior:**
The file compiles and the value can be set.

**Actual behavior:**
The file fails to compile:
[code]

[2020-06-04 11:09] BrendanHart commented on #380
I believe your issue is to do with a misuse of state.

You are using the same closeLightbox and openLightbox callbacks for each Modal, and therefore you will see when you click an image, both of the images are displayed, with the second lightbox image being on top of the image selected from the first lightbox. The images that displayed have the same ID in their respective lightbox, since we are us

[2020-06-04 17:04] prakashgurung-lab49 opened #382 "Style Autoprefixer broken for `display: flex`"
**Steps to reproduce the behavior:**
[code]

_TLDR;_
To fix, add space after flex to fix the issue but no prefix is added.
i.e `display: 'flex '`

_Environment_:
npm@6.145
node@v13.14.0

**Expected style behavior:**
[code]
_Or_
[code]

**Actual style behavior:**
[code]
_**invalid style**_
###

[2020-06-04 18:54] StasD opened #383 "TypeError: undefined is not an object (evaluating 'currentView.caption')"
I'm trying to reproduce your simplest example with `<Carousel views={images} />`. Getting an error `TypeError: undefined is not an object (evaluating 'currentView.caption')`.

[code]

This page http://jossmac.github.io/react-images/#/patterns also doesn't work. The error is also related to FooterCaption:
[code]

[2020-06-09 17:00] anhtran commented on #342
That's cool to use this feature.

[2020-06-10 00:48] nfrasser commented on #366
Can confirm it's fixed in v1.1.7, thanks @davwheat!

[2020-06-10 00:48] #366 closed

[2020-06-10 12:32] bramvdpluijm opened #385 "Option to always show header and footer."
It would be nice if there is an option to always show the header and footer components. As of now they both only show up on hover.

[2020-06-13 15:37] StasD commented on #383
All good. It just doesn't like empty arrays...

[2020-06-13 15:37] #383 closed

[2020-06-17 00:13] ardalann commented on #381
`showNavigationOnTouchDevice` doesn't do anything for me even when I ignore the Typescript error (using `@ts-ignore`). Does it work for you?

[2020-06-22 01:14] jmdsg opened #387 "Warning using ModalGateway in react's Strict Mode"
I recently started to use the `StrictMode` of react and when i use the `ModalGateway` i get the following warning:

Is there any plan to make this component strict mode compliant?

[2020-06-22 02:24] davwheat commented on #387
Honestly, just switch to https://react-swipeable-views.com/

I have no plan to maintain this project. I tried but, in my opinion, it needs a full rewrite to fix a lot of the issues.

The way it's written is not the way I would write it if I was starting again, and, being the latest contributor/maintainer to the project, I'm not planning to rewrite to whole thing when there is something much much m

[2020-06-22 14:49] BrendanHart commented on #381
@ardalann - I didn't notice a difference when I tried it either, but didn't investigate deeply enough to confirm.

[2020-06-26 10:35] TomPradat opened #388 "Is there a way to disable some/all the shortcuts ?"
In all cases, can you explain where they come from ? I spend some time in the code but only found an eventListener for the 'F' shortcut 🤔

[2020-06-27 15:17] mdere-unbound opened #389 "Component Customization"
First off - great out of box feature for my starting app! The Readme looks like there needs to be more work done to it, and I just want to know if it possible to customize the components?

Following:
1. Disable picture counter on the bottom
2. Color of the nav buttons?
3. Modal background overlay color
and etc

Or was the expectation to directly use styled components for css customization?

[2020-06-27 15:47] davwheat commented on #389
@mdere-unbound if you're starting a new project, don't use this.

React View Pager is far better and easier to customise.

This package has been long abandoned by the original creator and I'm the only maintainer left. The code is a mess, and I've given up.

[2020-06-27 16:17] mdere-unbound commented on #389
Ah thank you for letting me know right away. Appreciate it!

[2020-06-29 21:15] dannya commented on #382
For anyone who encounters this issue, there is a workaround as described here: https://github.com/jossmac/react-images/issues/382#issue-631001064

[2020-06-30 14:19] TomPradat commented on #389
If you have the rights to merge, can you put a warning that this project is not maintained anymore and suggest other libs ? Would be awesome :)

[2020-06-30 14:21] davwheat commented on #389
I'll do that! @TomPradat

[2020-07-01 07:20] TomPradat commented on #388
I finally found it, there is a boolean prop that you can pass to disable accessibility listeners :

[code]

[2020-07-01 07:20] #388 closed

[2020-07-29 22:02] ch3ll0v3k commented on #373
Dude, you are the best ))) thx

[2020-07-31 11:23] jordie23 commented on #387
react-swipeable-views doesn't have a lightbox/modal gallery.

Anyone know a good one? I honestly can't find any decent ones. Most projects are buggy or not maintained. :/

[2020-07-31 11:24] jordie23 commented on #389
React View Pager hasn't been updated in years either :/

[2020-08-31 11:56] edoplaza opened #390 "Picture title"
Is there a way to show a simple text or title under each picture? The text could be provided by the alt attribute, for example.

[2020-08-31 12:05] davwheat commented on #390
@edoplaza Please stop using this package... It's not maintained anymore and has so many comical design decisions that it's not even funny anymore.

This is a good replacement: https://github.com/leandrowd/react-responsive-carousel

[2020-08-31 12:43] edoplaza commented on #390
Thank you!

[2020-09-21 22:30] dsemenovsky opened #391 "NPM Audit Security report"
**Steps to reproduce the behavior:**
Install `react-images` as a dependency

**Expected behavior:**
Expected to have `npm audit` passing.

**Actual behavior:**
[code]

[2020-09-21 22:55] davwheat commented on #391
Please read the README.

[2020-10-01 08:45] #343 closed

[2020-10-21 13:53] FredChauviere commented on #390
Hi davwheat,
Thank you for maintaining react-images all that time,
But I disagree on your assertion that react-responsive-carousel is a good substitute: react-images and react-responsive-carousel are totally different products : for instance I'm using the modal Gateway of react-images, and there's abolutely no equivalent in react-responsive-carousel

[2020-10-22 09:08] linxianxi commented on #365
I avoided the problem in this way
[code]

[2020-11-19 00:20] douglasrcjames commented on #373
Thanks @BrendanHart ! I found that `max-height: 90vh` worked better as it didn't cut off my caption.

[2020-11-20 08:05] HanliTheron commented on #287
I also walked into this flickering problem on Safari and after some investigation I realised it just happens when I use a custom View component. E.g. This was what I had:

[code]

But using just  views={images} and no custom overwrite worked fine. I tried climbing into the code to see what causes this discrepancy, but I couldn't really find the issue. So I decided to not overwrite the default view

[2020-12-09 02:33] luckyGTL opened #392 "想添加一个查看预览图时，可旋转的功能"
**Steps to reproduce the behavior:**

**Expected behavior:**

**Actual behavior:**

[2020-12-09 02:50] #392 closed

[2020-12-18 10:54] froleo commented on #373
Overriding the Carousel style worked for me.

`<Carousel
              styles={{ view: (base, state) => ({ ...base, height: "90vh" }) }}
            />`

Also version 1.1.6 does not seem to have this issue

[2021-01-23 09:54] GravityTwoG commented on #327
have the same problem

[2021-02-09 20:24] w01f6 opened #393 "React 17 support"
Is it possible to update the peer dependencies to allow using react 17?

https://github.com/jossmac/react-images/blob/859ef021776186052bb9e46b208c28f51666c776/package.json#L80

[2021-02-09 21:05] davwheat commented on #393
@w01f6 You shouldn't be using this package anymore as it's very broken, but, just for you, I'll do it :)

[2021-02-09 22:06] davwheat commented on #391
@dsemenovsky Turns out this is a dev dependencies used for the docs. **This does not affect the package itself.**

[2021-02-09 22:06] #391 closed

[2021-02-09 22:06] davwheat commented on #393
@w01f6 [Published `1.2.0-beta.1`](https://github.com/jossmac/react-images/releases/tag/1.2.0-beta.1). Give it a go and lemme know if you have any issues.

[2021-02-09 22:38] jossmac commented on #391
@davwheat

If you end up doing this (I hope you do) try to render as little as possible for the consumer by employing hooks and render props. Once you take control of render the API becomes infinite.

[2021-02-12 04:00] amirhar commented on #393
Just tried it get an import error
error - ./node_modules/react-images/dist/react-images.es.js
Attempted import error: 'react-full-screen' does not contain a default export (imported as 'Fullscreen').

[2021-02-13 00:35] davwheat commented on #393
@amirhar Published `1.2.0-beta.2`!

[2021-02-13 00:54] davwheat commented on #373
Fixed with 1.2.0-beta.5

[2021-02-13 00:54] #373 closed

[2021-02-13 01:01] davwheat commented on #379
Fixed!

[2021-02-13 01:01] #379 closed

[2021-02-23 15:16] NathanDeveloping commented on #393
![image](https://user-images.githubusercontent.com/18258326/108864085-264c4480-75f2-11eb-905e-e3181158a1de.png)

It seems to be FullScreen and not Fullscreen

[2021-03-03 13:01] TheOneAndOnlyGarcia opened #396 "FATAL: 1.1.7 to 1.2.0-beta.6 breaks fullscreen mode ('active' of undefined)"
**Steps to reproduce the behavior:**
 upgrade from 1.1.7  to 1.2.0-beta.6

tested with react 16 and 17!

**Expected behavior:**
open fullscreen should not throw an error

**Actual behavior:**
opening fullscreen throws error

`
Error in function FullScreen in ./node_modules/react-full-screen/dist/index.modern.js:56
`
🚨 **Cannot read property 'active' of undefined** 🚨

[code]

[2021-03-03 13:02] TheOneAndOnlyGarcia commented on #393
this issue: seems co-related to the current beta path: https://github.com/jossmac/react-images/issues/396

[2021-04-27 17:24] gtwilliams03 commented on #396
I am getting the same error now.  But I think the error is coming from the `FullScreen` component of `react-fullscreen`.

[2021-04-27 17:29] gtwilliams03 commented on #396
I am not sure how to do a pull request, but I think the error is in line 193 of the `/Modal/Modal.js` file.

This:

[code]

should be:

[code]

like in their examples:

[code]

[2021-04-27 17:31] gtwilliams03 commented on #396
Never mind - we just need to wait for the pull request at #397 from @foglerek to get merged.  It looks like he has this sorted already.

[2021-04-29 00:06] luskin commented on #396
Bump. Can we get this merged in?

[2021-04-29 00:29] davwheat commented on #396
Done. Releasing now! Sorry all -- been stressing with some exams coming up.

[2021-04-29 02:10] luskin commented on #396
Appreciate you @davwheat, thanks for jumping in and getting this merged 🙌🏼

[2021-04-29 05:29] davwheat commented on #396
Released: `1.2.0-beta.7`

[2021-04-29 05:29] #396 closed

[2021-05-26 23:29] Saidfatah opened #398 "is there a way we can disable scrolling for the carousel"
is there a way we can disable scrolling for the carousel  I'm trying to implement pinch zoomIn  ,double tap zoomIn   and drag feature and I need to disable scroll when the image is zoomIn so that user can drag image without interference of the carousel's scrolling listener

[2021-06-14 18:54] MatteoGauthier opened #399 "Demo error"
got an error when i clicked on images on the github pages demo
[code]

[2021-06-14 19:12] davwheat commented on #399
This package is no longer maintained. Please don't use it.

[2021-07-18 08:16] sethsnel opened #400 "In search of a replacement ❓"
As described on NPM and the Readme, it is clear we should not longer use this library.
Instead it is advised to switch to 'React Responsive Carousel'.

However this surrogate is missing the Modal functionality which is pretty neat in react-images.

Without building my own gallery with modal support.
Are there any known maintained carousel packages that also support Modals?

[2021-07-21 03:26] xlzy520 commented on #399
@MatteoGauthier https://xlzy520.cn/react-images/#/
It is ok

[2021-07-21 08:25] MatteoGauthier commented on #399
It seems to be fixed thanks you 👍

[2021-07-29 10:20] jefflung opened #401 "Can I get the images data from a json file and how? Thanks"
Asforementioned, can I get the data from a json file instead of const array like in the example? Thanks

[2021-07-29 23:07] jossmac commented on #401
Example ([ref](https://letmegooglethat.com/?q=data+from+a+json+file)):

[code]

[2021-07-29 23:07] #401 closed, assigned to nobody

[2021-08-04 17:10] jefflung opened #402 "Can you add an option for adding hyperlink(s) under the photo?"
Asforementioned, I would like to add a link or several links under the photo in the popup. If you cannot do this, could you give me hints to do? Sorry I am quite new for React, thanks.

[2021-08-04 17:15] davwheat commented on #402
Sorry, this package isn't maintained any more.

You might find more help on StackOverflow.

[2021-08-04 17:15] #402 closed, assigned to nobody

[2021-08-12 12:42] ayaka-kms opened #403 "A vulnerability introduced in react-images"
Hi, a vulnerability CVE-2020-15168 is introduced in react-images  via:
●  react-images@1.2.0-beta.7 ➔ glam@5.0.1 ➔ fbjs@0.8.17 ➔ isomorphic-fetch@2.2.1 ➔ node-fetch@1.7.3

---
However, glam is a legacy package, which has not been maintained for about 4 years.
Is it possible to migrate glam to other package or remove it to remediate this vulnerability?

I noticed a migration record in other js repo

[2021-08-12 12:45] davwheat commented on #403
This security vulnerability has no effect on us since we don't use the functionality that is affected.

This package is unmaintained. If you wish to fix it, feel free to open a PR and I'll take a look.

[2021-08-12 12:45] #403 closed, assigned to nobody

[2021-10-06 18:35] joeyfigaro commented on #400
Here to ask the same thing. 👍🏻

[2021-10-06 22:33] jossmac commented on #400
This package is a testament to the failure of monolithic solutions; you just can't meet everyone's requirements. I recommend composing the parts you need to fulfil _your specific requirements_, rather than reaching for a "complete" solution.

Here's some **accessible** modal dialogs for React, that are style agnostic:
- [Reach UI dialog](https://reach.tech/dialog)
  - The folks behind React Router

[2021-10-06 22:33] #400 closed, assigned to nobody

[2021-10-28 01:22] qiutian00 opened #404 "Can it view .tif or .tiff type image ?"
or use othe api method ?

[2021-10-28 01:42] qiutian00 commented on #404
![image](https://user-images.githubusercontent.com/24382500/139171683-3636e254-7485-40f6-8452-b71840f2af5d.png)
use ` View` can defined myself to view the image

[2021-10-28 01:42] #404 closed, assigned to nobody

[2021-10-28 15:21] qiutian00 commented on #393
great !!

[2021-12-11 21:22] primozs commented on #26
how is this fixed?

[2021-12-11 21:26] davwheat commented on #26
Because this was an issue 5 years ago, and became not an issue. If it's an issue now, feel free to open another issue, but noone is maintaining this library anymore.

[2022-08-04 08:45] Abrikosa1 commented on #365
Helped for me.

Else we can change currentIndex when navigate between images with **onViewChange** prop
[code]

[2022-09-03 23:33] dannya commented on #399
This is still an issue currently, I believe my changes in #405 fixes this though.

[2022-09-03 23:35] dannya commented on #355
I've done this work in #405

[2022-09-03 23:36] dannya commented on #403
@davwheat I've done this work in #405

[2022-09-23 18:24] atrain42 commented on #390
Is this still an issue?